/* Colors:
    --primary: #3b82f6;
    --primary-dark: #2563eb;
    --bg-gray: #f8fafc;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --white: #ffffff; 
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background-color: #b2c0d3;
  color: #1e293b;
}

ul {
  margin: 0;
  /* top right bottom left */
  /* margin: 20px 20px 20px 20px; */

  /* top, right & left, bottom */
  /* margin: 20px 30px 40px; */

  /* top & bottom, right & left */
  /* margin: 20px 40px; */

  padding: 20px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  padding: 2px 4px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #64748b;
  padding: 40px;
}

form {
  max-width: 300px;

  background-color: #b2c0d3;
  padding: 20px;
}

input {
  width: 100% ;
  padding: 10px;
}