body {
  background-color: #94a3b8;
  background-image: url('https://images.unsplash.com/photo-1768834582204-3430797f89be?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  margin: 0;
  color: #d6d3d1;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
}

div {
  /* height: 500px; */
  height: 50%;
  background-color: rgb(32, 31, 30, 0.6);
  max-width: 500px;
  margin: auto;
}

p {
  margin: 0;
  /* 19.2px */
  font-size: 1.2em;
  font-weight: 900;
  line-height: 150%;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  /* 15.36px */
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Pinyon Script", cursive;
}

h2 {
  color: #c37f52;
  font-size: 1.6em;
  font-weight: 100;
}